{% include 'common-header.html' %}
<script type="text/javascript" src="/static/js/vms/profile/forgot_password.js"></script>
<div class="col-sm-9 col-lg-10">
    <br class="hidden-xs">
    <div class="row">
        <div class="col-lg-7 col-md-10 col-sm-10 main-section">
            <div class="giant-holder">
                <div class="giant-card col-lg-offset-5" style="margin-top: 150px">
                    <h3>Password Recovery</h3>
                    <form>
                        <div class="form-group error-space">
                            <label for="emailId">Email-Id</label>
                            <input type="text" id="emailId" placeholder="username@email.com" class="form-control" data-bind="value: emailId" autofocus="true" />
                        </div>
                        
                        <div class="form-group mt8">
                            <input type="button" value="Send recovery email" class="form-control btn btn-primary" data-bind="click: submit" />
                        </div>
                        <div style="min-height: 24px;">
                            <p class="validationMessage alert alert-warning" data-bind="text: error, visible: error"></p>
                        </div>
                        <p class="alert alert-info" data-bind="text: information, visible: information"></p>
                    </form>
                    <div>Don't have an account? <a class="clickable" href="/signup">Click here to create a new account</a>.</div>
                    <div>Already have an account? <a class="clickable" href="/login">Click here to login</a>.</div>
                </div>
            </div>
        </div>
{% include 'common-footer.html' %}