
.icon-shop:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-slack:before { content: '\f198'; } /* '' */
.icon-reddit-alien:before { content: '\f281'; } /* '' */