{% include 'common-header.html' %}
<div class="col-sm-9 col-lg-10">
    <br class="hidden-xs">
    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-10 main-section">
            <div class="giant-holder">
                <p class="mini-giant">Oops</p>
                <div class="giant-card">
                    <h3>Error 404 - Page not found</h3>
                    <hr>
                    <p>The page that you are looking for was not found.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'common-footer.html' %}
