<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rakshe - Smart Contract Warranty</title>
    <link rel="shortcut icon" href="/static/faviconit/favicon.ico">

    <script type="text/javascript" src="/static/js/libs/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-navbar-fixed-side.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/overrides.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/fontello/css/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro:200,400" rel="stylesheet">
</head>

<body data-spy="scroll" data-target="#side-navbar" data-offset="30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-lg-2">
                <nav id="side-navbar" class="navbar navbar-default navbar-fixed-side">
                    <div class="container">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="visible-xs navbar-brand s-p-a-0 navbar-brand-top" href="#">
                                <div style="height: 45px; padding-left: 10px; padding-top: 3px;">
                                    <img class="logo logo-small" src="/static/img/Rakshe landing page alt-16.svg" alt="RAKSHE" />
                                </div>
                            </a>
                            <a class="hidden-xs navbar-brand navbar-brand-left s-w-100-p" href="#" style="margin-top: -30px; padding: 50px;">
                                <img class="logo" src="/static/img/logo.svg" />
                                <span>RAKSHE</span>
                            </a>
                        </div>
                        <div>
                            <div id="navbar" class="navbar-collapse collapse">
                                <span class="visible-sm visible-md visible-lg" style="margin-top: 5vh;"></span>
                                <ul class="nav navbar-nav navbar-font-family">
                                    <li class="js--click-active js--go-to-insurance"><a href="#insurance">Warranties<span class="icon-left-open"></span></a></li>
                                    <li class="js--click-active js--go-to-features"><a href="#features">Features<span class="icon-left-open"></span></a></li>
                                    <li class="js--click-active js--go-to-how-it-works"><a href="#how-it-works">How It Works<span class="icon-left-open"></span></a></li>
                                    <li class="js--click-active js--go-to-survey"><a href="#survey">Survey<span class="icon-left-open"></span></a></li>
                                    <li class="js--click-active js--go-to-get-involved"><a href="#get-involved">Join Us<span class="icon-left-open"></span></a></li>
                                    <li class="js--click-active js--go-to-contact"><a href="#contact">Contact<span class="icon-left-open"></span></a></li>
                                </ul>
                            </div>
                            <div align="center" class="hidden-xs s-w-100-p s-m-t-4">
                                <a target="_blank" rel="noopener" href="https://www.reddit.com/r/rakshe"><span class="social icon-reddit-alien"></span></a>
                                <a target="_blank" rel="noopener" href="https://www.facebook.com/therakshe"><span class="social icon-facebook"></span></a>
                                <a target="_blank" rel="noopener" href="https://twitter.com/therakshe"><span class="social icon-twitter"></span></a>
                                <a rel="noopener" href="mailto:info@rakshe.com"><span class="social icon-mail"></span></a>
                                <a target="_blank" rel="noopener" href="https://discord.gg/QA5Vf9r"><span class="social"><img src="/static/img/discord.svg"  style="margin-left: 5px; height: 25px; width: 25px;" alt="d" /></span></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-sm-9 col-lg-10">
                <br class="hidden-xs">
                <div class="row">
                    <div class="visible-xs">
                        <div align="right" class="s-m-b-2 s-m-r-3">
                            <a href="/login" class="btn btn-primary btn-xl">Log In</a>
                        </div>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-10 main-section">
                        <div class="giant-holder">
                            <span id="insurance"></span>
                            <p class="giant">Rakshe</p>
                            <div class="giant-card">
                                <h3>ON-DEMAND WARRANTIES FOR SMART CONTRACTS</h3>
                                <hr>
                                <h4>Insure your ETH, ERC20 tokens and other collectibles on the blockchain.</h4>
                                <p>Smart contracts are susceptible to bugs due to human oversight, which could cause you monetary losses. We, at Rakshe, protect you from such losses by auditing and insuring your smart contracts. In case of an unforeseeable event, warranty helps you recoup your losses.</p>
                                <p>On-demand warranty allows you to reduce costs by insuring smart contracts only when you need it. You are in complete control of how much the coverage is and when it starts and stops.</p>
                                <p></p>
                                <div class="row">
                                    <a type="button" align="center" class="btn btn-primary btn-md col-xs-12 col-sm-8 col-lg-4 s-m-t-2 btn-mock" href="https://www.dropbox.com/s/0zh6hp6tejmsa8f/Rakshe%20White%20Paper%20-%20Alpha.pdf?dl=0" target="_blank">WHITEPAPER</a>
                                </div>
                            </div>
                        </div>
                        <div class="giant-holder">
                            <span id="features"></span>
                            <p class="giant">Features</p>
                            <div class="giant-card">
                                <h3>WHY GET SMART CONTRACT WARRANTY FROM RAKSHE?</h3>
                                <hr>
                                <div class="row">
                                    <div class="col-md-6 col-lg-4" style="">
                                        <div class="col-xs-12 card">
                                            <img src="/static/img/audit.svg" style="margin-top: 10px; margin-bottom: 10px; height:80px; width: 80px;" alt="Audit" />
                                            <h3>CODE AUDITS</h3>
                                            <p>Rest easy knowing that your smart contracts have been vetted</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4" style="">
                                        <div class="col-xs-12 card" style="">
                                            <img src="/static/img/protection.svg" alt="Indemnity" />
                                            <h3>INDEMNITY</h3>
                                            <p>Get compensated for losses due to black swan events</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4" style="">
                                        <div class="col-xs-12 card">
                                            <svg>
                                                <polygon points="25,85 75,85 75,50 85,50 85,45 70,30 30,30 15,45 15,50 25,50" style="stroke-width: 4; stroke-linejoin: round; fill: none; stroke: #bfbfbf;"></polygon>
                                                <polygon points="30,30 70,30 70,20 30,20" style="stroke-width: 4; stroke-linejoin: round; fill: none; stroke: #bfbfbf;"></polygon>
                                                <line x1="25" y1="50" x2="75" y2="50" style="stroke: #bfbfbf; stroke-width: 4"></line>
                                                <line x1="50" y1="30" x2="50" y2="50" style="stroke: #bfbfbf; stroke-width: 2"></line>
                                                <line x1="45" y1="30" x2="37.5" y2="50" style="stroke: #bfbfbf; stroke-width: 2"></line>
                                                <line x1="40" y1="30" x2="25" y2="50" style="stroke: #bfbfbf; stroke-width: 2"></line>
                                                <line x1="55" y1="30" x2="62.5" y2="50" style="stroke: #bfbfbf; stroke-width: 2"></line>
                                                <line x1="60" y1="30" x2="75" y2="50" style="stroke: #bfbfbf; stroke-width: 2"></line>
                                                <polyline points="40,83 40,60 60,60, 60,83" style="stroke: #73A04B; stroke-width: 3; stroke-linejoin: round; fill: none"></polyline>
                                            </svg>
                                            <h3>MARKETPLACE</h3>
                                            <p>Find attractive premium rates from multiple warrantors</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4" style="">
                                        <div class="col-xs-12 card">
                                            <svg>
                                                <circle cx="25" cy="25" r="15" stroke="#73A04B" stroke-width="5" fill="#bfbfbf"></circle>
                                                <circle cx="25" cy="25" r="7" stroke="#73A04B" stroke-width="0" fill="#73A04B"></circle>
                                                <polygon points="55,20 55,30 80,30 80,35 90,25 80,15 80,20" style="stroke-width:5; fill: #bfbfbf; stroke: #bfbfbf;"></polygon>
                                                <polygon points="45,70 45,80 20,80 20,85 10,75 20,65 20,70" style="stroke-width:5; fill: #bfbfbf; stroke: #bfbfbf;"></polygon>


                                                <polygon fill="#8A92B2" points="75,58.33333333 64.67833333,75.31 75,70.658333333"></polygon>
                                                <polygon fill="#62688F" points="75,70.65833333 64.67833333,75.31 75,81.35666667"></polygon>
                                                <polygon fill="#62688F" points="85.23166667,75.31 75,58.33333333 75,70.658333333"></polygon>
                                                <polygon fill="#454A75" points="75,81.35666667 85.23166667,75.31 75,70.658333333"></polygon>
                                                <polygon fill="#8A92B2" points="64.76833333,77.24833333 75,91.66666667 75,83.295"></polygon>
                                                <polygon fill="#62688F" points="75,83.295 75,91.66666667 85.235,77.24833333"></polygon>
                                            </svg>
                                            <h3>LIQUID</h3>
                                            <p>Resell your tokenized policy when you are done with a contract</p>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-6 col-lg-4" style="">
                                        <div class="col-xs-12 card">
                                            <svg>
                                                <polygon points="40,85 60,85 60,65 40,65" style="stroke-width: 1; fill: #bfbfbf; stroke: #bfbfbf;"></polygon>
                                                <polygon points="40,60 60,60 60,47.5 40,47.5" style="stroke-width: 1; fill: #bfbfbf; stroke: #bfbfbf;"></polygon>
                                                <polygon points="40,42.5 60,42.5 60,35 40,35" style="stroke-width: 1; fill: #73A04B; stroke: #73A04B;"></polygon>
                                                <polygon points="30,30 70,30 50,15" style="stroke-width: 1; fill: #73A04B; stroke: #73A04B;"></polygon>
                                            </svg>
                                            <h3>Extensible</h3>
                                            <p>Increase coverage or include more contracts to suit your changing needs</p>
                                        </div>
                                    </div> -->
                                    <div class="col-md-6 col-lg-4">
                                        <div class="col-xs-12 card">
                                            <svg>
                                                <circle cx="50" cy="50" r="35" stroke="#73A04B" stroke-width="5" fill="#bfbfbf"></circle>
                                                <circle cx="50" cy="50" r="3" stroke="#73A04B" fill="#73A04B"></circle>
                                                <line x1="50" y1="50" x2="65" y2="50" stroke="#73A04B" stroke-width="2" />
                                                <line x1="50" y1="50" x2="50" y2="25" stroke="#73A04B" stroke-width="2" /></circle>
                                            </svg>
                                            <h3>ON DEMAND</h3>
                                            <p>Enable coverage only when you need it and save premium</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-4">
                                        <div class="col-xs-12 card">
                                            <svg>
                                                <circle cx="25" cy="30" r="7" stroke=#bfbfbf stroke-width="3" fill= none></circle>
                                                <circle cx="50" cy="30" r="7" stroke=#bfbfbf stroke-width="3" fill= none></circle>
                                                <circle cx="75" cy="30" r="7" stroke=#bfbfbf stroke-width="3" fill= none></circle>
                                                <path fill="none" stroke="#bfbfbf" stroke-width="3" d="M10,57 Q25,30 40,50"></path>
                                                <path fill="none" stroke="#bfbfbf" stroke-width="3" d="M35,57 Q50,29 65,57"></path>
                                                <path fill="none" stroke="#bfbfbf" stroke-width="3" d="M60,50 Q75,30 90,57"></path>
                                                <polyline points="42,70 42,60 58,60, 58,70" style="stroke: #73A04B; stroke-width: 3; stroke-linejoin: round; fill: none"></polyline>
                                                <rect x="40" y="70" width="20" height="15" style="fill:#73A04B;stroke-width:3;stroke:#73A04B"></rect>
                                            </svg>
                                            <h3>AGGREGATION</h3>
                                            <p>One policy to cover all members of your organization</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="giant-holder">
                            <span id="how-it-works"></span>
                            <p class="giant">Working</p>
                            <div class="giant-card">
                                <h3>HOW IT WORKS</h3>
                                <hr>
                                <p>Before you interact with a DApp or a smart contract you can insure your assets by buying a warranty from one of many warranty providers who are competing to offer you the best service on Rakshe. Warrantors are responsible for auditing the smart contract's code thereby empowering you to interact with smart contracts without worrying about bugs that could cause financial losses.</p>

                                <p>The on-demand, tokenized nature of these policies means that you are in complete control of when policy coverage is applicable and how much of your assets are covered. You save on premium charges as you are not forced to pay for times when you are not interacting with a contract and you are free to adjust coverage limits depending on how much ETH you are using at the time.</p>

                                <p>In the meantime, if a bug slips past an warrantor's code audit process and a user loses their assets the warrantor would be liable for the funds that were lost. Publicly visible transactions on the blockchain helps the user submit claims quickly as it is easy for them to prove a loss and the warrantor does not have to account for bogus claims. This hastens the claim acceptance process compared to traditional cyber insurance.</p>
                            </div>
                        </div>
                        <div class="giant-holder">
                            <span id="survey"></span>
                            <p class="giant">Survey</p>
                            <div class="giant-card">
                                <h3>TELL US MORE ABOUT&hellip;</h3>
                                <hr>
                                <ul>
                                    - your familiarity with smart contracts<br/>
                                    - smart contracts and DApps you love<br/>
                                    - anything else you'd like to see on our platform<br/>
                                </ul>
                                <br/>
                                <a  rel="noopener" href="https://goo.gl/forms/aAQ0bOn37b7QMobA2" target="_blank">
                                    <button type="button" class="btn btn-primary btn-md">
                                        Go to Survey
                                        <small class="s-m-l-2">(Google Form)</small>
                                    </button></a>
                                <br/>
                            </div>
                        </div>
                        <div class="giant-holder">
                            <span id="get-involved"></span>
                            <p class="giant">Join Us</p>
                            <div class="giant-card">
                                <h3>GET INVOLVED</h3>
                                <hr>
                                <div>
                                    <p>Would you like to be involved with smart contract warranties? Tell us what you'd like to do and how to contact you.</p>
                                    <p><small>(Select all that are applicable)</small></p>
                                    <form class="form-inline js--join-us" method="POST" action="/join_us">
                                        <label>
                                            <input type="checkbox" name="insurance_interest" value="insuree" /> Get warranty for smart contracts you use
                                        </label>
                                        <br>
                                        <label>
                                            <input type="checkbox" name="insurance_interest" value="developer" /> Insure users of your DApps
                                        </label>
                                        <br>
                                        <label>
                                            <input type="checkbox" name="insurance_interest" value="agent" /> Earn commission by selling warranty to others
                                        </label>
                                        <br>
                                        <label>
                                            <input type="checkbox" name="insurance_interest" value="auditor" /> Audit and test code for a fee
                                        </label>
                                        <br>
                                        <label>
                                            <input type="checkbox" name="insurance_interest" value="bounty_hunter" /> Participate in bug bounties
                                        </label>
                                        <br>
                                        <div class="form-group">
                                            <label for="insurance-email"> Email-id: </label>
                                            <input type="email" class="form-control" name="insurance-email" id="insurance-email" />
                                        </div>
                                        <br>
                                        <br>
                                        <div class="js--join-us-error-container" style="display: none;">
                                            <p class="js--join-us-error-message alert alert-warning"></p>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-padded">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="giant-holder s-m-b-10">
                            <span id="contact"></span>
                            <p class="giant">Contact</p>
                            <div class="giant-card">
                                <h3>HAVE QUESTIONS OR FEEDBACK?</h3>
                                <hr>
                                <p>We are on Reddit at <a rel="noopener" href="https://www.reddit.com/r/rakshe" target="_blank">r/rakshe</a>, on Facebook at <a rel="noopener" href="https://www.facebook.com/therakshe" target="_blank">therakshe</a> and on Twitter at <a rel="noopener" href="https://twitter.com/therakshe" target="_blank">@therakshe</a>. You can also drop us an email at <a href="mailto:info@rakshe.com">info@rakshe.com</a> or chat with us on our <a rel="noopener" href="https://discord.gg/QA5Vf9r"> discord channel</a>.</p>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs log-in-div">
                        <div class="col-xs-12">
                            <div align="center">
                                <a href="/login" class="btn btn-primary btn-xl">Log In</a>
                            </div>
                            {% if Setting.get_value_by_section_option('global', 'live_status') != '0' %}
                                <div class="btn-sm btn-danger" id="not-live-site" style="margin-top: 10px;">
                                    WARNING: THIS IS A DEMO SITE!
                                </div>
                            {% endif %}
                        </div>

                        <!--<div align="center" class="btn-mock">
                            <p>Coming Soon</p>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>