<ul class="nav navbar-nav navbar-font-family" id="nav-list">
    <li class="dropdown-menu">
        <a href="/insuree/list_policies">Warranties</a>
        <ul>
            <li id="js--insuree-new_policy"><a href="/insuree/new_policy">New Warranty</a></li>
            <li id="js--insuree-list_policies"><a href="/insuree/list_policies">View Warranties</a></li>
            <li id="js--insuree-new_claim"><a href="/insuree/new_claim">New Claim</a></li>
            <li id="js--insuree-list_claims"><a href="/insuree/list_claims">View Claims</a></li>
        </ul>
    </li>
    <li class="dropdown-menu">
        <a href="/developer/list_applications">Developers</a>
        <ul>
            <li id="js--developer-new_application"><a href="/developer/new_application">Apply</a></li>
            <li id="js--developer-list_applications"><a href="/developer/list_applications">View Applications</a></li>
        </ul>
    </li>
    <li class="dropdown-menu">
        <a href="/profile/edit_profile">Profile</a>
        <ul>
            <li id="js--profile-edit"><a href="/profile/edit_profile">Edit Profile</a></li>
            <li class="visible-xs"><a href="/logout">Log Out</a></li>
        </ul>
    </li>
    <li class="dropdown-menu visible-xs">
        <a id="js--logout" href="/logout">Logout</a>
    </li>

</ul>
