<ul class="nav navbar-nav navbar-font-family">
    <li class="js--click-active js--go-to-insurance"><a href="#insurance">Warranty<span class="icon-left-open"></span></a></li>
    <li class="js--click-active js--go-to-features"><a href="#features">Features<span class="icon-left-open"></span></a></li>
    <li class="js--click-active js--go-to-survey"><a href="#survey">Survey<span class="icon-left-open"></span></a></li>
    <li class="js--click-active js--go-to-get-involved"><a href="#get-involved">Join Us<span class="icon-left-open"></span></a></li>
    <li class="js--click-active js--go-to-contact"><a href="#contact">Contact<span class="icon-left-open"></span></a></li>
</ul>